@font-face{
	src: url(./HelveticaNeue-Bold.woff2)format("woff2");
	font-family: 'HelveticaNeue';
	font-weight: bold;
	font-style: normal;
}
@font-face{
	src: url(./HelveticaNeue-Medium.woff2)format("woff2");
	font-family: 'HelveticaNeue';
	font-weight: 500;
	font-style: normal;
}
@font-face{
	src: url(./HelveticaNeue-Roman.woff2)format("woff2");
	font-family: 'HelveticaNeue';
	font-weight: normal;
	font-style: normal;
}
