.Button {
  text-decoration: none;
  color: #fff;
  padding: 0.7692em 1.2308em;
  border-radius: 0.3077em;
  cursor: pointer;
  background-color: #007DFF;
}

.Button:hover {
  background-color: #0059FF;
}