.Button {
  text-decoration: none;
  padding: 1.2308em;
  padding-top: 1em;
  padding-bottom: 0.7692em;
  border-radius: 0.3077em;
  letter-spacing: 0.015em;
  cursor: pointer;
  font-weight: 500;
}

.Button_theme_create {
  color: #fff;
  background-color: #007DFF;
}

.Button_theme_create:hover {
  background-color: #0059ff;
}

.Button_theme_create:active {
  background-color: #0011fd;
}

.Button_disabled.Button_theme_create {
  background-color: #e5e9ec;
}

.Button_theme_cancel {
  color: #000;
  background-color: #E9ECEF;
}

.Button_theme_cancel:hover {
  background-color: #dde0e4;
}

.Button_theme_cancel:active {
  background-color: #c9ced4;
}

.Button_disabled.Button_theme_cancel {
  background-color: #e1e5e8;
}

.Button_disabled {
  color: rgba(0,0,0,0.20);
}