.DatePicker {
  position: relative;
  text-align: center;
}

.DatePicker-Date {
  display: inline-block;
  line-height: 24px;
  font-weight: 500;
  font-size: 1.154em;
  cursor: pointer;
}

.DatePicker_open .DatePicker-Date {
  color: #0070E0;
}

.DatePicker-ArrowLeft {
  float: left;
}

.DatePicker-ArrowRight {
  float: right;
}

.DatePicker-DayPicker {
  position: absolute;
  visibility: hidden;
}

.DatePicker_open .DatePicker-DayPicker {
  visibility: visible;
}

.DatePicker-DayPicker .DayPicker {
  top: 12px;
  z-index: 10;
  box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
  border-radius: 4px;
}

.DatePicker-DayPicker .CalendarMonth_caption {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.DatePicker-DayPicker .CalendarMonth_caption {
  color: #000;
  font-size: 15px;
  padding-bottom: 48px;
  font-weight: 500;
}

.DatePicker-DayPicker .CalendarDay__blocked_out_of_range {
  color: #858E98 !important;
}

.DatePicker-DayPicker .CalendarDay {
  color: #000;
  font-size: 11px;
  font-weight: bold;
  vertical-align: middle;
}

.DatePicker-DayPicker .DayPickerNavigation_container {
  display: none;
}