.DatePicker {
  position: relative;
  text-align: center;
}

.DatePicker-Date {
  display: inline-block;
  line-height: 24px;
  font-weight: 500;
  font-size: 1.154em;
  cursor: pointer;
}

.DatePicker-ArrowLeft {
  float: left;
}

.DatePicker-ArrowRight {
  float: right;
}