.EventsDiagram {
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
}

.EventsDiagram_noscroll {
  overflow-x: hidden;
}

.EventsDiagram-Timeline {
  margin-left: 255px;
}

.EventDiagram-Room {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 44px;
}

.EventsDiagram-HorizontalScrollContainer {
  display: inline-block;
  height: 100%;
}

.EventsDiagram-VerticalScrollContainer {
  height: calc(100% - 45px);
  overflow-y: scroll;
}

.EventsDiagram_noscroll .EventsDiagram-VerticalScrollContainer {
  overflow-y: hidden;
}

.EventDiagram-FloorTitle {
  margin-top: 21px;
  margin-left: 24px;
  margin-bottom: 4px;
  font-weight: bold;
  text-transform: uppercase;
  color: #858E98;
  font-size: 0.846em;
}

.EventDiagram-Room .Room {
  margin-left: 24px;
  width: 231px;
}

.EventDiagram-Room .RoomTimeline {
  flex: 1;
}

.EventsDiagram-TooltipContainer {
  position: absolute;
  z-index: 9;
  min-width: 330px;
  min-height: 115px;
}