.EventTooltip {
  position: relative;
  display: block;
  background: #FFFFFF;
  padding: 16px;
  box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
  border-radius: 8px;
}

.EventTooltip-Title {
  font-size: 1.154em;
  line-height: 1.846em;
  font-weight: bold;
}

.EventTooltip-Users {
  margin-top: 16px;
  display: inline-flex;
  align-items: center;
}

.EventTooltip-ButtonContainer {
  position: absolute;
  top: 8px;
  right: 8px;
}

.EventTooltip-EditButton,
.EventTooltip-CloseButton {
  margin-left: 5px;
}

.EventTooltip-MoreUsers {
  color: rgba(0, 0, 0, 0.5);
}