.Header {
    position: relative;
    max-width: 1280px;
    height: 71px;
    border-bottom: 1px solid #E9ECEF;
    padding: 0em calc(50% - 640px);
}

.Header-Logo {
    float: left;
    margin-top: 25px;
    margin-left: 24px;
}

.Header-Button {
    float: right;
    margin-top: 18px;
    margin-right: 24px;
}