.Header {
    position: relative;
    height: 71px;
    border-bottom: 1px solid #E9ECEF;
}

.Header-Logo {
    position: absolute;
    top: 25px;
    left: 24px;
}

.Header-Button {
    position: absolute;
    top: 18px;
    right: 24px;
}