.Header {
    position: relative;
    height: 70px;
    border-bottom: 1px solid #E9ECEF;
    padding: 0em calc(50% - 640px);
}

.Header-Logo {
    position: absolute;
    top: 25px;
    left: 24px;
}

.Header-Button {
    position: absolute;
    top: 18px;
    right: 24px;
}