.MainPage {}

.MainPage-DatePickerWrapper {
  float: left;
  padding-left: calc(50% - 640px);
  padding-bottom: 10px;
  padding-top: 11px;
  border-bottom: 1px solid #E9ECEF;
}

.MainPage-DatePicker {
  width: 197px;
  margin-left: 24px;
  margin-right: 24px;
}

.MainPage-RoomGroupListWrapper {
  padding-left: calc(50% - 640px);
  width: 245px;
  float: left;
  clear: left;
}

.MainPage-RoomGroupList {
  margin-left: 25px;
  margin-top: 23px;
}

.MainPage-RoomEventListWrapper {
  margin-left: calc(50% - 640px + 245px);
  overflow-y: scroll;
}

.MainPage-Clearfix {
  clear: both;
}