.MainPage {}

.MainPage-SubHeader {
  width: 100%;
  position: absolute;
  top: 71px;
  height: 46px;
  border-bottom: 1px solid #E9ECEF;
}

.MainPage-DatePicker {
  position: absolute;
  width: 197px;
  top: 82px;
  left: calc(50% - 640px + 24px);
}

.MainPage-RoomGroupListWrapper {
  width: 244px;
  border-right: 1px solid #E9ECEF;
  float: left;
}

.MainPage-RoomEventListWrapper {
  max-width: 1280px;
  padding: 0 calc(50% - 640px);
  height: calc(100vh - 72px);
  overflow-y: hidden;
}

.MainPage-TimelineEvents {
  /* 
  width hardcoded value should be removed or set by js 
  Formulae: (width of timeline + width of room list) 
  it makes srolling possible across all devices 
  */
  width: 1367px;
  height: calc(100vh - 72px - 46px);
  overflow-y: scroll;
}

.MainPage-RoomGroupList {
  margin-left: 25px;
  margin-top: 23px;
  width: 220px;
  float: left;
}

.MainPage-Timeline {
  margin-left: 245px;
}

.MainPage-RoomTimelineList {
  margin-left: 245px;
  padding-top: 46px;
}

/* BEM Encapsulation is broken for the next three rules */
.MainPage-RoomTimelineList .RoomGroupList-Group {
  margin-bottom: 53px;
}

.MainPage-RoomGroupList .RoomGroupList-Group {
  margin-bottom: 19px;
}