.MainPage {}

.MainPage-SubHeader {
  width: 100%;
  position: absolute;
  top: 71px;
  height: 46px;
  border-bottom: 1px solid #E9ECEF;
}

.MainPage-DatePicker {
  z-index: 10;
}

@media screen and (max-width: 1279px) {
  .MainPage-DatePicker {
    margin: 12px 24px;
  }
}

@media screen and (min-width: 1280px) {
  .MainPage-DatePicker {
    position: absolute;
    width: 197px;
    top: 82px;
    left: calc(50% - 640px + 24px);
  }
}

.MainPage-EventsDiagram {
  height: calc(100vh - 71px);
  padding-left: calc(50% - 640px);
}

@media screen and (max-width: 1279px) {
  .MainPage-EventsDiagram {
    height: calc(100vh - 71px - 47px);
  }
}
