@import url(./GlyphIcon/GlyphIcon.css);

.RoomTimeline {
  height: 28px;
}

.RoomTimeline-Slot {
  height: 28px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.RoomTimeline-Slot_free {
  background-color: #fff;
}

.RoomTimeline-Slot_free {
  background-color: #fff;
}

.RoomTimeline-Slot_free:hover {
  background-color: #1D54FE;
  border-radius: 2px;
}

.RoomTimeline-Slot_free:hover:after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.932em;
  transform: translate(-50%, -50%) rotate(45deg);
  font-family: 'GlyphIcon';
  content: "\e903";
  color: #fff;
}

.RoomTimeline-Slot_free:active {
  background-color: #1D00FE ;
}

.RoomTimeline-Slot_event,
.RoomTimeline-Slot_past {
  background-color: #D5DFE9; 
}

.RoomTimeline-Slot_event_highlighted,
.RoomTimeline-Slot_event:hover {
  background-color: #98A9B9;
}


.RoomTimeline-Slot .EventTooltip {
  display: none;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.RoomTimeline-Slot_event_highlighted,
.RoomTimeline-Slot:hover {
  z-index: 3;
}

.RoomTimeline-Slot:hover .EventTooltip {
  display: block;
}

.RoomTimeline-Slot .EventTooltip:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -6px;
  left: calc(50% - 10px);
  display: block;
}