.RoundButton {
  display: inline-block;
  position: relative;
  width: 1.846em;
  height: 1.846em;
  border-radius: 100px;
  color: rgba(0,0,0,0.43);
  background-color: #E9ECEF;
  cursor: pointer;
}


.RoundButton-Icon {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}