.TextInput {}

.TextInput-Label {
  font-weight: bold;
  line-height: 1.231em;
  margin-bottom: 4px;
}

.TextInput-InputContainer {
  border: 2px solid;
  border-color: #E9ECEF;
  padding: 0.615em;
  border-radius: 4px;
  display: flex;
  flex-flow: row;
  align-items: center;
} 

.TextInput_focus .TextInput-InputContainer {
  border-color: #007DFF;
}

.TextInput-Input {
  width: 100%;
  font-size: 1em;
  letter-spacing: 0.036em;
  border: none;
  outline: none;
}

.TextInput-Icon {
  color: #AFB4B8;
  font-size: 0.769em;
  cursor: pointer;
}