.Timeline {
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  color: #252525;
  font-weight: bold;
  height: 45px;
  letter-spacing: 0.4px;
  padding: 0 33px;
  font-size: 0.846em;
}

.Timeline:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #E9ECEF;
  height: 10000px;
  width: 100%;
  top: 46px;
  left: 0px;
  z-index: -1;
}

.Timeline-Hour {
  position: relative;
  min-width: 66px;
  margin-top: 16px;
  line-height: 13px;
  text-align: center;
  z-index: 2;
}

.Timeline-Hour_passed {
  color: #858E98;
}

.Timeline-CurrentTime {
  position: absolute;
  top: 13px;
}

.Timeline-Clock {
  position: absolute;
  left: -25px;
  padding-top: 0.363em;
  padding-bottom: 0.273em;
  letter-spacing: 0.4px;
  line-height: 1.181em;
  background-color: #007DFF;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  z-index: 3;
  display: block;
  width: 49px;
}

.Timeline-ClockBorder {
  z-index: 1;
  background-color: #007DFF;
  position: absolute;
  left: 50%;
  width: 1px;
  min-height: 10000px;
}

.Timeline-HourBorder {
  min-width: 66px;
}

.Timeline-Markup {
  display: flex;
  flex-flow: row nowrap;
  width: 1122px;
}

.Timeline-Hour:after {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(19,100,205,0.10);
  width: 1px;
  min-height: 10000px;
  left: calc(50% - 1px);
  top: 30px;
}